html {
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
}

.qualifications-container {
  display: flex;
  height: 80%;
  width: 90%;
  user-select: none;
  flex-wrap: nowrap;
}

.qualifications-container .qualification {
  position: relative;
  height: 550px;
  min-width: 40%;
  background-color: rgb(9, 6, 31);
  border-radius: 20px;
  margin: 0 20px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
}

.qualifications-container .qualification .content {
  height: 85%;
  width: 90%;
  border-radius: 15px;
  margin-top: 20px;
  background-size: contain;
  background-position: center;
}

.qualifications-container .qualification h1 {
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 20px;
}

.qualifications-container .qualification .content.html {
  background: rgba(255, 255, 255, 0.103) url(./assets/images/img/html.png);
}
.qualifications-container .qualification .content.css {
  background: rgba(255, 255, 255, 0.103) url(./assets/images/img/css.png);
}
.qualifications-container .qualification .content.javascript {
  background: rgba(255, 255, 255, 0.103) url(./assets/images/img/js.jpg);
}
.qualifications-container .qualification .content.bootstrap {
  background: rgba(255, 255, 255, 0.103) url(./assets/images/img/bootstrap.png);
}
.qualifications-container .qualification .content.react {
  background: rgba(255, 255, 255, 0.103) url(./assets/images/img/react.png);
}
.qualifications-container .qualification .content.c-plus-plus {
  background: rgba(255, 255, 255, 0.103) url(./assets/images/img/c-plus-plus.png);
}

.qualifications-container .qualification .content {
  background-position: center !important;
  background-size: 100% !important;
  /* background-size: 66px !important; */
  background-repeat: no-repeat !important;
}

.qualification.active {
  color: orange;
}

section.horizontal .pin-wrap,
section.horizontal .animation-wrap {
  display: flex;
  position: relative;
  z-index: 1;
  height: 100vh;
}
