html {
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
}

.qualifications-container {
  display: flex;
  height: 80%;
  width: 90%;
  user-select: none;
  flex-wrap: nowrap;
  background-color: rgb(9, 6, 31);
}

.qualifications-container .qualification {
  position: relative;
  height: fit-content;
  background-color: rgb(9, 6, 31);
  padding: 1rem.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.qualifications-container .qualification .content {
  height: 45px;
  width: 45px;
  border-radius: 15px;
  background-size: contain;
  background-position: center;
}

.qualifications-container .qualification h1 {
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 0.5rem;
}

.qualifications-container .qualification .content.html {
  background: rgba(255, 255, 255, 0.103) url(./assets/images/img/html.png);
}
.qualifications-container .qualification .content.css {
  background: rgba(255, 255, 255, 0.103) url(./assets/images/img/css.png);
}
.qualifications-container .qualification .content.javascript {
  background: rgba(255, 255, 255, 0.103) url(./assets/images/img/js.jpg);
}
.qualifications-container .qualification .content.bootstrap {
  background: rgba(255, 255, 255, 0.103) url(./assets/images/img/bootstrap.png);
}
.qualifications-container .qualification .content.react {
  background: rgba(255, 255, 255, 0.103) url(./assets/images/img/react.png);
}
.qualifications-container .qualification .content.c-plus-plus {
  background: rgba(255, 255, 255, 0.103) url(./assets/images/img/c-plus-plus.png);
}

.qualifications-container .qualification .content {
  background-position: center !important;
  background-size: 100% !important;
  /* background-size: 66px !important; */
  background-repeat: no-repeat !important;
}

@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 6));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 6));
  }
}

@-webkit-keyframes scroll-reverse {
  0% {
    transform: translateX(calc(-250px * 6));
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes scroll-reverse {
  0% {
    transform: translateX(calc(-250px * 6));
  }

  100% {
    transform: translateX(0);
  }
}

.slider {
  height: 100px;
  /* margin: auto; */
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider:first-of-type {
  margin-top: 2rem;
}

.slider::before,
.slider::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  -webkit-animation: scroll 30s linear infinite;
  animation: scroll 30s linear infinite;
  display: flex;
  width: calc(250px * 12);
}

.slider .slide-track.slide-reverse {
  -webkit-animation: scroll-reverse 30s linear infinite;
  animation: scroll-reverse 30s linear infinite;
  display: flex;
  flex-direction: row-reverse;
  width: calc(250px * 12);
}

.slider .slide {
  height: 100px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
