* {
    user-select: none;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
    display: none !important;
}

main {
    padding: 2rem 4rem;
    overflow: auto;
}

main,
nav,
.navEl.active,
.gitHub,
.hireMe {
    background: linear-gradient(45deg, rgb(0, 14, 42), rgb(41, 0, 29));
}

nav {
    top: 0;
    right: 0;
    z-index: 1;
    padding: 1rem 0.5rem;
}

.navEl {
    margin: 0.5rem;
    padding: 1rem;
    width: 45px;
    height: 45px;
    transition: 0.3s all;
    border-radius: 5px;
    z-index: 1;
}

.navEl.active,
.logo,
.gitHub,
.hireMe {
    transform: rotate(360deg);
    border-radius: 50%;
    box-shadow: 0 0 10px #505050;
    transition: 0.3s all;
}

.navEl:hover {
    transform: scale(1.2);
}

.navEl>img {
    height: 20px;
    width: 20px;
    filter: invert(55%) sepia(0%) saturate(600%) hue-rotate(243deg) brightness(64%) contrast(66%);
    transition: all 0.3s;
}

.navEl.active>img {
    filter: invert(85%) sepia(0%) saturate(991%) hue-rotate(243deg) brightness(74%) contrast(76%);
    transform: rotate(360deg);
}

.gitHub>img {
    height: 25px;
    width: 25px;
}

.intro {
    border-left: 2px solid #f0f0f0;
    margin: 1rem;
    padding: 0.5rem 1rem;
    align-items: flex-start !important;
}

.headline {
    font-size: 4rem;
    font-weight: 600;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 1rem;
}

.subline {
    font-size: 0.8rem;
}

.blob {
    width: 400px;
    height: 400px;
    background: url(assets/images/img/my.jpg);
    background-size: cover;
    background-position: center;
    animation: blob 10s linear infinite;
}

.blob:after {
    position: absolute;
    content: "";
    height: 400px;
    width: 400px;
    background: linear-gradient(64.009163468deg, #f34868, #f24768, #9e00ec);
    opacity: 0.2;
    animation: blob 10s linear infinite;
}

.hamburger .line {
    display: none !important;
}

.logo {
    width: 45px;
    height: 45px;
    background: url(./assets/images/img/logo.webp);
    background-size: cover;
}

.hireMe {
    margin: 1rem 2rem;
    border-radius: 5px;
    color: #f0f0f0;
    box-shadow: 5px 5px 8px #505050;
}

.hireMe:hover {
    transform: translate(-1px, -1px);
    box-shadow: 2px 2px 6px #505050;
}

@keyframes blob {
    0%,
    100% {
        border-radius: 64% 36% 27% 73% / 55% 58% 42% 45%;
    }
    25% {
        border-radius: 73% 17% 46% 38% / 73% 36% 64% 27%;
    }
    50% {
        border-radius: 28% 72% 44% 56% / 49% 40% 70% 51%;
    }
    75% {
        border-radius: 40% 60% 70% 30% / 47% 62% 38% 53%;
    }
}

@media (max-width: 768px) {
    main {
        padding: .5rem;
    }
    .main {
        padding: 1rem;
        flex-direction: column-reverse;
    }
    .headline {
        font-size: 2rem;
    }
    nav>.toggle {
        padding-top: 8px;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    nav {
        margin: 2rem;
        height: 45px !important;
        width: 45px;
        border-radius: 50%;
        overflow: hidden;
        transition: 0.3s all;
        box-shadow: 0 0 10px #505050;
        background: linear-gradient( 45deg, rgba(0, 14, 42, 0.9), rgba(41, 0, 29, 0.9));
    }
    nav>.content {
        display: none;
    }
    nav.active {
        margin: 0;
        height: 100% !important;
        width: fit-content;
        max-width: 300px;
        border-radius: 0;
        overflow: visible;
        backdrop-filter: blur(10px);
    }
    nav.active>.toggle {
        padding: 1rem;
        height: fit-content;
    }
    nav.active>.content {
        display: flex;
        margin-top: 60px;
        height: calc(100vh - 100px);
    }
    .hamburger .line {
        display: block !important;
    }
}