#Footer.main {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#Footer .logo-container {
    padding: 1rem 0 0;
}

#Footer .logo {
    padding: 0 0.5rem;
    transition: 0.3s all ease;
}

#Footer .logo:hover {
    scale: 1.2;
}
