#projects .project {
    position: relative;
    width: 100%;
    padding: 1rem;
    margin-bottom: 3rem;
    border-radius: 10px;

    flex: 0 0 33.33%;
    max-width: 33.33%;
    cursor: default;
}

#projects .project:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

#projects .project .top {
    border-radius: 10px;
    transition: all 0.4s ease 0s;
    transform: scale(0.9);
    overflow: hidden;
}

#projects .project .top .fallback {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    transition: all 0.4s ease 0s;
}

#projects .project .top:hover .fallback {
    width: 100%;
    height: 100%;
    border-radius: 0;
    top: 0;
    left: 0;
}

#projects .project .top .fallback a {
    color: #f7f7f7;
    font-size: 0;
    text-decoration: none;
    background-color: rgb(73, 95, 239);
    padding: 0;
    border-radius: 20px;
    transition: all 0.4s ease 0s;
}
#projects .project .top:hover .fallback a {
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
}

#projects .project:hover .top {
    border-radius: 20px;
    box-shadow: rgb(68 77 136 / 20%) 0px 32px 74px;
    transform: scale(1);
}

#projects .project:hover .bottom {
    transform: translateY(0.6rem);
    padding-bottom: 0.6rem;
}

#projects .project .top img {
    vertical-align: middle;
}
#projects .project .bottom .url {
    gap: 0.5rem;
}
#projects .project .bottom .github,
#projects .project .bottom .live {
    border-radius: 8px;
    padding: 0.5rem;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 400;
    transition: all 0.4s ease 0s;
    gap: 5px;
}
#projects .project .bottom .github {
    background-color: transparent;
    border: 1px solid rgb(73, 95, 239);
}
#projects .project .bottom .live {
    background-color: transparent;
    border: 1px solid rgb(86, 179, 129);
}

#projects .project .bottom .github:hover,
#projects .project .bottom .live:hover {
    box-shadow: rgba(226, 227, 236, 0.2) 0px 0px 20px 5px;
    letter-spacing: 2px;
    border-radius: 15px;
}

#projects .project .bottom {
    box-sizing: border-box;
    min-width: 0px;
    padding-top: 1rem;
    transition: all 0.4s ease 0s;
}

#projects .project .bottom p {
    font-size: 0.8125rem;
    line-height: 1.63;
    letter-spacing: 1.63px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 0.8rem;
}

#projects .project .bottom p.technologies {
    text-transform: none;
    margin-top: 0.4rem;
    color: rgba(255, 255, 255, 0.5);
}

#projects .project .bottom h4 {
    font-weight: 700;
    letter-spacing: -0.5px;
    font-size: 1.5rem;
    line-height: 1.42;
    color: rgb(255, 255, 255);
}

/* mobile screen */
@media (max-width: 768px) {
    .container {
        padding: 0.5rem;
    }
    #projects .project {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        margin-bottom: 4rem;
    }
    #projects .project .top {
        transform: scale(1);
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    #projects .project {
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 1rem;
        padding-left: 1rem;
        margin-bottom: 4rem;
    }
    #projects .project .top {
        transform: scale(0.9);
    }
}
