.main#skills {
  padding-bottom: 0;
}

.qualifications-container {
  display: flex;
  user-select: none;
  flex-wrap: nowrap;
  background-color: rgb(9, 6, 31);
  width: calc(250px * var(--skill-count) * 2);
}

.qualifications-container .qualification {
  position: relative;
  height: fit-content;
  background-color: rgb(9, 6, 31);
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.qualifications-container .qualification .content {
  height: 45px;
  width: 45px;
  border-radius: 15px;
  background-color: rgb(18, 12, 65);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
}

.qualifications-container .qualification h1 {
  font-size: 20px;
  margin-left: 0.5rem;
}

.slider {
  height: 100px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider .slide-track {
  animation: scroll 80s linear infinite;
  display: flex;
}

.slider .slide-track:hover {
  animation-play-state: paused;
}

.slider .slide-track.slide-reverse {
  animation: scroll-reverse 80s linear infinite;
  flex-direction: row-reverse;
}

.slider .slide-track.slide-reverse:hover {
  animation-play-state: paused;
}

.slider .slide {
  height: 100px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-250px * var(--skill-count))); }
}

@keyframes scroll-reverse {
  0% { transform: translateX(calc(-250px * var(--skill-count))); }
  100% { transform: translateX(0); }
}