.oscilate {
    animation: oscilate 4s linear infinite;
}
@keyframes oscilate {
    0% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(10px);
    }
}
