.oscilate {
    animation: oscilate 4s linear infinite;
}
@keyframes oscilate {
    0% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(10px);
    }
}

#home .resume-container {
    margin-top: 52px;
    gap: 2rem;
}

#home .resume,
#home .contact {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.63px;
    text-transform: uppercase;
    padding: 23px 30px;
    box-shadow: rgb(3 3 3 / 12%) 0px 32px 54px;
    border-radius: 50rem;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    user-select: none;
    transform: perspective(1px) translateZ(0px);
    position: relative;
    overflow: hidden;
    border: none;
    white-space: nowrap;
    color: rgb(255, 255, 255);
    background-color: rgb(73, 95, 239);
    transition: all 0.4s ease-out 0s;
    outline: none !important;
}

#home .contact {
    background-color: transparent;
    border: 2px solid rgb(86, 179, 129);
    color: rgb(86, 179, 129);
}

#home .resume:hover,
#home .contact:hover {
    transform: translateY(-10px);
    box-shadow: rgb(3 3 3 / 14%) 0px 32px 54px;
}

#home .container .main-title {
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: rgb(255, 255, 255);

    font-size: 102px;
}
@media screen and (max-width: 650px) {
    #home .container .main-title {
        font-size: 62px;
    }
}
@media screen and (max-width: 350px) {
    #home .container .main-title {
        font-size: 42px;
    }
    #home .resume,
    #home .contact {
        font-size: 10px;
        padding: 15px 20px;
    }
}
