.circle {
    box-sizing: border-box;
    min-width: 0px;
    margin-right: 13px;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #56b381;
}
.header {
    margin: 3rem 0 3rem;
}

.header-title {
    font-weight: 700;
    letter-spacing: -2.5px;
    font-size: 40px;
    line-height: 54px;
    margin-bottom: 0px;
    color: rgb(255, 255, 255);
}

@media (min-width: 576px) {
    .header-title {
        font-size: 50px;
        line-height: 62px;
    }
}

@media (min-width: 992px) {
    .header-title {
        font-size: 60px;
        line-height: 70px;
    }
}

a.button {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.63px;
    text-transform: uppercase;
    padding: 23px 30px;
    box-shadow: rgb(3 3 3 / 12%) 0px 32px 54px;
    border-radius: 50rem;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    user-select: none;
    transform: perspective(1px) translateZ(0px);
    position: relative;
    overflow: hidden;
    border: none;
    white-space: nowrap;
    color: rgb(255, 255, 255);
    background-color: rgb(86, 179, 129);
    transition: all 0.4s ease-out 0s;
    outline: none !important;
    cursor: pointer;
}

a.button:hover {
    transform: translateY(-10px);
    box-shadow: rgb(3 3 3 / 14%) 0px 32px 54px;
}
